#mmr-line-chart {
  
  @for $i from 1 through length($ct-series-names) {
   .ct-series-#{$i} {
      color: nth($ct-series-colors, $i);
      
      -webkit-transition: .5s ease-in;
      -moz-transition: .5s ease-in;
      -o-transition: .5s ease-in;
      -ms-transition: .5s ease-in;
      transition: .5s ease-in;
      
      &:hover {
        cursor: pointer;
        background-color: nth($ct-series-colors, $i);
        color: white;
        
      }

    }
  }
  
  .username {
    list-style-type: none;
    font: bold 20px/1.2em Verdana;
  }
  
  ul {
    padding: 0 40px;
  }
  
}

@keyframes hover {
  from {
    stroke-width: 4px;
  }
  to {
    stroke-width: 10px;
  }
}
@keyframes leave {
  from {
    stroke-width: 10px;
  }
  to {
    stroke-width: 4px;
  }
}
